<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".first"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Applicationsetting" android:exported="false" />
        <activity android:name=".Buycargo" android:exported="false" />
        <activity android:name=".Buyequip" android:exported="false" />
        <activity android:name=".buyship" android:exported="false" />
        <activity android:name=".cargo" android:exported="false" />
        <activity android:name=".Commanderlog" android:exported="false" />
        <activity android:name=".Commanderstaus" android:exported="false" />
        <activity android:name=".credits" android:exported="false" />
        <activity android:name=".encounter" android:exported="false" />
        <activity android:name=".endgame" android:exported="false" />
        <activity android:name=".galacticbank" android:exported="false" />
        <activity android:name=".galaccticchart" android:exported="false" />
        <activity android:name=".game" android:exported="false" />
        <activity android:name=".gamename" android:exported="false" />
        <activity android:name=".Gameoptions" android:exported="false" />
        <activity android:name=".Globala" android:exported="false" />
        <activity android:name=".gpta" android:exported="false" />
        <activity android:name=".indivisualpilotsetting" android:exported="false" />
        <activity android:name=".main" android:exported="false" />
        <activity android:name=".NewCommander1" android:exported="false" />
        <activity android:name=".Personnel" android:exported="false" />
        <activity android:name=".prices" android:exported="false" />
        <activity android:name=".quests" android:exported="false" />
        <activity android:name=".QuickStart" android:exported="false" />
        <activity android:name=".sellcargo" android:exported="false" />
        <activity android:name=".Sellequip" android:exported="false" />
        <activity android:name=".ShipInfo" android:exported="false" />
        <activity android:name=".shipinformation" android:exported="false" />
        <activity android:name=".shipyard" android:exported="false" />
        <activity android:name=".shortrangechart" android:exported="false" />
        <activity android:name=".systeminfo" android:exported="false" />
        <activity android:name=".userguide" android:exported="false" />
        <activity android:name=".saveitems" android:exported="false" />
        <activity android:name=".loadgame" android:exported="false" />
        <activity android:name=".retire" android:exported="false" />
    </application>
</manifest>
